<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#D1BB9E"/>

    <title>Restaurant Apps</title>

    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png">

    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">







  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to Content</a> <!-- Menuju konten utama -->
    <nav class="nav">
      <div class="logo"><a href="">Restaurnat</a>
      </div>
      <a id="hamburger" href="#">☰</a>

      <div class="drawer" id="drawer">
        <ul class="nav-list">
          <li><a href="">Home</a></li>
          <li><a href="#/fav">Favorite</a></li>
          <li><a href="https://github.com/wawii16">About us</a></li>
          
        </ul>
      </div>


    </nav> 

    <header class="hero">
      <div class="jumbotron">
        <picture>
          <source media="(max-width: 600px)" srcset="./images/hero-image_1-small.jpg">
          <img src="/images/hero-image_1-large.jpg" alt="xxxx">

        </picture>
      </div>
      <div class="intro">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, delectus commodi? Corporis nam exercitationem vitae adipisci ipsam necessitatibus, ducimus libero nostrum. Labore assumenda consequuntur cum unde neque temporibus. Molestiae, tempora odit. Blanditiis temporibus itaque esse alias laboriosam natus enim quasi facere expedita, architecto magni, nihil soluta vitae voluptate corporis pariatur.</p>
      </div>
    </header>

    <main id="main-content">
      <!-- <div id="daftar-restaurant" class="daftar-restaurant">
        <div class="restaurant">

        </div>
      </div> -->
    </main>

    <footer>
      <p>Copyright © 2020 - Restaurnat</p>
    </footer>


    <script>



    </script>


    
  </body>
</html>
